*{
    margin: 0;
    
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Courier New', Courier, monospace, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808 ;
    color: #fff;




}
#header{
    width: 100%;
    height: 100vh;
    background-image:url(images/cir.jpg); 
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
}
.container{
    padding: 10px 10%;
    margin-top: 50px;
    margin-bottom: 40px;


}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 100px;
    height: 100x;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px ;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
   
    width: 100%;
    
}
.header-text{
    margin-top: 20%;
    font-size: 30px;

}
.header-text h1{
    font-size: 100px;
    margin-top: 20px;

}
.header-text h1 span{
    color: #ff0;

}








#about{
    padding:80px 0 ;
    color: lightskyblue;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}
.col1{
    flex-basis: 35%;
}
.col1 img{
    width:450px;
    height: 650px;
    border-radius: 15px;
    
}

  
 
.col2{
    flex-basis:60%;
}
.sub{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tabs{
    display: flex;
    margin: 20px 0 40px;
}
.tlinks{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tlinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tlinks.a1::after{
    width: 50%;
}
.tabcontent ul li{
    list-style: none;
    margin: 10px 0;


}
.tabcontent ul li span{
    color:lightblue;
    font-weight: 300;
    font: 35px;
}
.tabcontent ul li span:hover{
    color: whitesmoke;
    font-weight: 300;
    font-size: larger;
}
.tabcontent{
    display: none;
}
.tabcontent.a{
    display:block ;
}




#services{
    padding: 30px 0 ;

}
.serviceslist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.serviceslist div{
    background: #24263c;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: backgroung 0.5s, transform 0.5s;
}
.serviceslist div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.serviceslist div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.serviceslist div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.serviceslist div:hover{
    background: rgb(12, 12, 81);
    transform: translateY(-10px);
}




#portfolio{
    padding:50px 0;
    text-decoration: Courier;
    

}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
    

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px;


}
.work img{
    width: 100%;
    
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgb(26, 26, 163));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    

    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    

}
.layer a{
    margin-top: 20px;
    color: #262626;
    text-decoration: navajowhite;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: relative;

}
.work:hover img{
    transform: scale(1.1);


}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #262626;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s ;


}
.btn:hover{
    background: #ababab;

}







.contactleft{
    flex-basis: 35%;

}
.contactright{
    flex-basis: 60%;
}
.contactleft p{
    margin-top: 30px;

}
.contactleft p i{
    color: #ababab;
    margin-right: 15px;
    font-size: 25px;
}
.social{
    margin-top: 30px;

}
.social a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social a:hover{
    color: #fff;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #080808;
    transition: background 0.5s;

}
.btn.btn2:hover{
    
    background: rgb(26, 26, 163);

}
.contactright form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color: #080808;
    font-size: 18px;
    border-radius: 6px;



}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
}
.copy{
    width: 100%;
    padding:25px;
    text-align: center;
    font-weight: 300;
    margin-top: 20px;

}
.copy i{
    color: #ff0;
}


nav.fas{
    display: none;
}


@media only screen and (max-with:600px){

    
    .header-text{
        margin-top: 100% ;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: none;
        font-size: 25px;

    }
    nav ul{
        background:rgb(12, 12, 81);
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px ;
        z-index: 2;
        transition: right 0.5s;

    }
    nav ul li{
        display: block;
        margin: 25px;

    }
    nav ul .fas{
        position: absolute;
        top: 25px;

    }
    .sub{
        font-size: 40px;
    }
    .col1 , .col2{
        flex-basis: 100%;
    }
    .col1{
        margin-bottom: 30px;
    }
    .col2{
        font-size: 14px;
    }
    .tlinks{
        font-size: 20px;
    }
    .contactleft , .contactright{
        flex-basis: 100%;

    }

}
#msg{
    font-size: 14px;
    text-align: center;
    color: #ff0;
}

.container1 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 700px;
    height: 700px;
    position: center;
  }
  .sub1{
    font-size: 50px;
  }
  @keyframes subAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(5.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .box {
    
    background-color: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    animation: bounce 1s infinite;
    transition: background-color 0.3s;
    position: relative;
  }
  
  .box:hover {
    background-color: #222;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .about-container {
    display:none;
    position:relative;
    width:500px;
    height: 500px;
    margin-right: 100px;
    
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    z-index: 1;
    transition: opacity 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .box:hover .about-container {
    display:block;
    opacity: 1;
    align-content: center;
    align-items: center;
    
  }
  /* Add a class to the img tag */
.about-container img {
    width:400px; /* Adjust the width as needed */
    height: 200px; /* Maintain aspect ratio */
    align-items: center;
    
}

/* You can also specify styles for a specific image by giving it a class in the HTML */
/* For example, if you want to style this specific image, add a class to it in your HTML: */
/* <img src="images/e.jpg" alt="A description of the image" class="my-image"> */

/* Then, target it in your CSS using the class */
.my-image {
    width:auto; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    
}

  
  /* Define styles for individual boxes */
  #box1 {
    background-color: #0f0c17;
  }
  
  #box2 {
    background-color: #141722;
  }
  
  #box3 {
    background-color: #110d1c;
    
  }
  
  #box4 {
    background-color: #1f1d27;
  }
  
  #box5 {
    background-color: #111115;
  }
  
 